{% extends "base.html" %}
{% load static %}


{% block slides %}
    <div class="w3-containe w3-display-container" id="home">
        <img class="mySlides w3-animate-left" src="{% static 'images/3.jpg' %}" style="width:100%;">
        <img class="mySlides w3-animate-left" src="{% static 'images/4.jpg' %}" style="width:100%">
        <img class="mySlides w3-animate-left" src="{% static 'images/6.jpg' %}" style="width:100%">
        <img class="mySlides w3-animate-left" src="{% static 'images/7.jpg' %}" style="width:100%">
        <img class="mySlides w3-animate-left" src="{% static 'images/2.jpg' %}" style="width:100%">

        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
    </div>
{% endblock %}


<!-- About Section -->
{% block about %}
    <h3 class="w3-center w3-text-orange" style="font-weight: bold"> ASSOCIATION PYTHON CÔTE D'IVOIRE </h3>
    <p class="w3-center w3-large">
        Python Côte d'Ivoire (PythonCI) est une association à but non lucratif, qui fait la promotion <br>du langage informatique
        Python à travers des ateliers de formation entièrement gratuits.
    </p>
    <h2 class="w3-center w3-panel w3-green">Découvrez nos différentes communautés </h2>
    <div class="w3-container w3-row w3-padding w3-center">
        <div class="w3-col" style="width:20%">
            <span class="w3-orange w3-padding fa fa-codiepie" style="font-size: 30px; color: white"></span>
            <span class="" style="margin-left: 20px; font-size: 20px;">PyAbidjan</span>
        </div>
        <div class="w3-col" style="width:20%">
            <span class="w3-orange w3-padding fa fa-envira" style="font-size: 30px;"></span>
            <span class="" style="margin-left: 20px; font-size: 20px;">PyLadies</span>
        </div>
        <div class="w3-col" style="width:20%">
            <span class="w3-orange w3-padding fa fa-glide-g" style="font-size: 30px;"></span>
            <span class="" style="margin-left: 20px; font-size: 20px;">Django</span>
        </div>
        <div class="w3-col" style="width:20%">
            <span class="w3-orange w3-padding fa fa-gamepad" style="font-size: 30px;"></span>
            <span class="" style="margin-left: 20px; font-size: 20px;">PyClub</span>
        </div>
        <div class="w3-col" style="width:20%">
            <span class="w3-orange w3-padding fa fa-mobile" style="font-size: 30px;"></span>
            <span class="" style="margin-left: 20px; font-size: 20px;">Kivy</span>
        </div>
    </div>
    <hr>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <i class="fa fa-send w3-margin-bottom w3-jumbo w3-center"></i>
            <p class="w3-large w3-text-teal">PYTHON POUR QUOI ?</p>
            <p class="w3-justify w3-padding">
                Faire comprendre aux uns et aux autres que la programmation n'est pas destinée à une catégorie de personne,
                démystifier la programmation informatique au travers des guides pratiques et encourager d'autre corps de
                métiers à s'y interesser.
            </p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-users w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large w3-text-teal">PYTHON POUR QUI ?</p>
            <p class="w3-justify w3-padding">
                Toute personne désireuse d'apprendre la programmation informatique ou toute personne sachant déjà programmer
                dans un langage autre que "Python", quelle que soit sa formation scolaire, peu importe, vous êtes à la bonne porte.
            </p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-hand-o-right w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large w3-text-teal">QUELS AVANTAGES AVEC PYTHONCI ?</p>
            <p class="w3-justify w3-padding">
                Commencer la programmation à partir de zéro, acquérir des connaissances en programmation informatique, apprendre
                les concepts avancés de la programmation moderne, écrire moins pour faire plus, prendre en main les différents
                framework liés au langage python.
            </p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-cogs w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large w3-text-teal">COMMENT DEVENIR MEMBRE ?</p>
            <p class="w3-justify w3-padding">Pour adhérer à l'association PythonCI, vous devez prendre contact avec l'association,
                soit par appel téléphonique ou nous écrire sur l'adresse email indiquée plus bas, afin de prendre en compte
                votre requète. Ainsi, vous recevrez un formulaire pour votre adhésion.
            </p>
        </div>
    </div>
{% endblock %}


<!-- BLOG Section -->
{% block image-blog %}
    <div class="w3-container" style="padding: 88px 16px" id="blog">
        <h3 class="w3-center w3-text-orange" style="font-weight: bold">GALERIE PHOTO</h3>
        <p class="w3-center w3-large">Nos séances de formation et event en images</p>

        <div class="w3-row-padding" style="margin-top:64px">
            <div class="w3-col l3 m6">
                <img src="{% static 'images/py.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/1.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/2.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/3.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
        </div>

        <div class="w3-row-padding w3-section">
            <div class="w3-col l3 m6">
                <img src="{% static 'images/4.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/5.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/6.jpg' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
            <div class="w3-col l3 m6">
                <img src="{% static 'images/8.png' %}" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="">
            </div>
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>
{% endblock %}

<!-- ATELIERS Section -->
{% block atelier %}
    <h3 class="w3-center w3-text-orange" style="font-weight: bold">NOS ATELIERS FORMATION</h3>
    <p class="w3-large" style="margin-bottom: 30px">
        Nos ateliers de formation sont entièrement gratuits. Ils sont destinés à <br>
        toute personne désireuse d'apprendre la programmation informatique avec le langage Python.
    </p>
    <div class="w3-panel w3-padding w3-green">
        <h5 class="" style="font-size: 1.5em; font-weight: bold">COMMENT PARTICIPER ?</h5><hr>
        <h4 class="w3-content">
            Pour participer à nos ateliers de formation, il faut s'inscrire au préalable
            en remplissant le formulaire indiqué avant le début d'une session. Chaque participant doit se munir d'un
            ordinateur portable.
        </h4>
    </div>
{% endblock %}


<!-- Contact Section -->
{% block contact-us %}
    <h3 class="w3-center w3-text-orange" style="font-weight: bold">CONTACT</h3>
    <div class="w3-row-padding " style="margin-top:64px">
        <div class="w3-content">
            <table style="margin: auto; width: 30%;">
                <tr>
                    <td><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right" style="color: #64615f;"></i></td>
                    <td>Abidjan, Côte d'Ivoire</td>
                </tr>
                <tr>
                    <td><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right" style="color: #64615f;"></i></td>
                    <td>+225 67 32 82 00</td>
                </tr>
                <tr>
                    <td><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right" style="color: #64615f;"></i></td>
                    <td><a href="mailto:hello@pythonci.org">hello@pythonci.org</a></td>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}
