{% load static %}

<!DOCTYPE html>
<html>
<title>Python Côte d'Ivoire | Association des développeurs python de Côte d'Ivoire</title>
<meta charset="UTF-8">
<meta name="author" content="PythonCI">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="category" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="publisher" content="">
<meta name="robots" content="follow, noindex">
<meta name="googlebot" content="noarchive">

<link rel="stylesheet" href="{% static 'css/4/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/lib/w3-theme-teal.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static 'css/4/font-awesome.css' %}">
<link rel="shortcut icon" href="{% static 'images/ico.png' %}" type="images/ico" />
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    body, html {
        height: 100%;
        line-height: 1.8;
    }
	

    .mySlides {
        display:none;
        background-position: center;
        background-size: cover;
        /*background-image: url("image/7.jpg");*/
        min-height: 100%;
		width: 100%;

        }
	
	
    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("{% static 'images/7.jpg' %}");
        min-height: 100%;
		width: 100%;
    }
    .w3-bar .w3-button {
        padding: 16px;
    }

    .space{
        margin-right: 10px;
        font-size: 1.1em;
    }

    .w3-text-teal{
        font-weight: bold;
    }
    
    /* Marquer par un fond rouge que le champ est invalide */
    input.invalid{
        background-color: #ffdddd;
    }

    /* Cacher toutes les étape par defaut */
    .tab{
        display: none;
    }

    /* Faire des cercles qui indiqueront les différentes etapes du formulaire */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

    .step.active {
        opacity: 1;
    }

    /* Marquer les étapes qui sont finies et valides */
    .step.finish {
        background-color: #4CAF50;
    }
	
	#myNavbar .w3-bar-item .w3-button:hover .w3-wide a{
		background-color: white;
	}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    {% block navbar-desktop %}
        <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="#home" class="w3-bar-item w3-button w3-wide w3-hover-none w3-white"
           style="font-family: 'Century Gothic'; text-transform: uppercase; font-weight: bold; padding: 2px 20px; position: relative; top: 2px;">
       <img src="{% static 'images/logo-h.png' %}" alt="logo" height="50">
		</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <a href="#home" class="w3-bar-item w3-button w3-green w3-hover-orange">ACCUEIL</a>
            <a href="#about" class="w3-bar-item w3-button w3-hover-orange">ASSOCIATION</a>
            <a href="#blog" class="w3-bar-item w3-button w3-hover-orange">GALERIE PHOTO</a>
            <a href="#formation" class="w3-bar-item w3-button w3-hover-orange">ATELIERS</a>
            <a href="#contact" class="w3-bar-item w3-button w3-hover-orange">CONTACT</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    {% endblock %}
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
{% block navbar-mobile %}
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Fermer ×</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ASSOCIATION</a>
        <a href="#blog" onclick="w3_close()" class="w3-bar-item w3-button">GALERIE PHOTO</a>
        <a href="#formation" onclick="w3_close()" class="w3-bar-item w3-button">ATELIERS</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>
{% endblock %}

{% block slides %}{% endblock %}

<!-- Header with full-height image --
<header class="bgimg- w3-display-container w3-grayscale-min" id="home">

<!--
    <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">Start something that matters</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
        <span class="w3-large">Stop wasting valuable time with projects that just isn't you.</span>
        <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
    </div>
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
    </div>
--
</header>

<!-- About Section -->

<div class="w3-container" style="padding: 80px 16px; background-color: #f1f1f1;" id="about">
    {% block about %}{% endblock %}
</div>

<!-- Section "PARTENAIRES" --
<div class="w3-container w3-light-grey" style="padding:12px 0px">
    <div class="w3-row-paddi">
        <div class="w3-col m12 w3-center">
            <h3 style="font-weight: bold">NOS PARTENAIRES</h3>
            <p class="w3-large">
				Le monde de l'<strong>Open Source</strong> croit en nous, c'est pourquoi ils n'ont pas hésité à nous prêter main forte.<br>
				Nous voudrons leur présenter notre gratitude.
			</p>
        </div>
    </div>
</div>

<!- Section "PARTENAIRES image logo" --
<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
    <div class="w3-quarter">
        <img src="image/code.jpg" width="150" alt="Ocean Digital" class="w3-image w3-border">
        <br>DigitalOcean 
    </div>
    <div class="w3-quarter">
        <img src="image/code.jpg" width="150" alt="GitLab" class="w3-image w3-border">
        <br>GitLab
    </div>
    <div class="w3-quarter">
        <img src="image/code.jpg" width="150" alt="Python Software Foundation" class="w3-image w3-border">
        <br>Python Software Foundation
    </div>
    <div class="w3-quarter">
        <img src="image/code.jpg" width="150" alt="Elastic" class="w3-image w3-border">
        <br>Elastic
    </div>
</div> -->

<!-- BLOG Section -->
{% block image-blog %}{% endblock %}

<!-- ATELIERS Section -->
<div class="w3-container w3-center w3-dark-grey" style="padding: 128px 16px" id="formation">
    {% block atelier %}{% endblock %}
</div>


<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding: 128px 16px" id="contact">
    {% block contact-us %}{% endblock %}
</div>

<!-- Footer -->
<footer class="w3-center w3-green w3-padding-16">
    {% block footer %}
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Remonter</a>
        <div class="w3-xlarge w3-section">
            <a href="https://web.facebook.com/PythonCI/" target="blank" class="fa fa-facebook-official w3-hover-opacity" style="text-decoration: none; color: #3b5998; font-size: 1.2em"></a>
            <a href="https://twitter.com/PythonCI" target="new" class="fa fa-twitter w3-hover-opacity w3-margin-left" style="text-decoration: none; color: #00aced; font-size: 1.2em"></a>
        </div>
        <p>DESIGN BY <a href="https://www.pythonci.org" title="www.pythonci.org" target="_blank"
             style="text-decoration: none; font-weight: bold;">PythonCI</a>
        </p>
    {% endblock %}
</footer>

<script>
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }


    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
	
	// Fond vert sur le menu selectionné
	var header = document.getElementById("myNavbar");
    var btns = header.getElementsByClassName("w3-bar-item");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("w3-green");
            current[0].className = current[0].className.replace(" w3-green", "");
            this.className += " w3-green";
        });
    }


    // slider 

    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
    showDivs(slideIndex += n);
    }

    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
    }
    x[slideIndex-1].style.display = "block";  
    }



// slider auto
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
}
</script>

</body>

</html>
